
   
.navbar .navbar-brand{

color: black !important;
text-transform: none !important;
margin-left: 100px !important;
}
 
.carousel-inner .carousel-item img, .carousel-inner.carousel-item a img{


    border-radius: 0 !important;
}

.heading{

margin-top: 70px;
    text-align: center;
}



.size{
    height: 20% !important;
    width: 20% !important;

}

.resize{


    max-width: 23% !important;
    font-weight: bold !important;
font-size: 14px;
margin-left: 5%;
}

.roundimages{


    font-weight: bold ;
    font-size: 10px;
    margin-left: 10%;

}
.card {


max-width: 60%;
width: 80% !important;
margin-left: 20%;


}

.color{

    background-color: #F7F7F7;
}

.card-columns{

    grid-column-gap: 0 !important;

}