
   
.navbar .navbar-brand{

color: black !important;
text-transform: none !important;
margin-left: 100px !important;
}
 
.carousel-inner .carousel-item img, .carousel-inner.carousel-item a img{


    border-radius: 0 !important;
}

.heading{

margin-top: 70px;
    text-align: center;
}



.size{
    height: 20% !important;
    width: 20% !important;

}

.resize{


    max-width: 23% !important;
    font-weight: bold !important;
font-size: 14px;
margin-left: 5%;
}

.roundimages{


    font-weight: bold ;
    font-size: 10px;
    margin-left: 10%;

}
.card {


max-width: 60%;
width: 80% !important;
margin-left: 20%;


}

.color{

    background-color: #F7F7F7;
}

.card-columns{

    grid-column-gap: 0 !important;

}



.footer{
    background: #152F4F !important;
    color:#fff;
    font-family: "Helvetica Neue";
    font:"roboto";
  }
    
    .links{
      ul{list-style-type: none;}
      li a{
        color: black !important;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:black;
        transition: color .2s;
        &:hover{}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  ul{
    list-style-type:none;
  }


  .jumbotron{
    background-color: #FFFF !important;
  }
  
  
  .hfluid{
    text-align: center;
  }
  
   .fragment{
    width: 100%;
  } 
  
  
  .center{
    max-width: 150%;
    margin:auto;
  }
  
  .card1{
    display: inline-block;
    margin-right:auto;
    margin-left: auto;
    float:left;
    max-width: 48% !important;
  
    
    text-align: right;
  }
  
  .card2{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    max-width: 48% !important;
  
    width: 10%;
    
  }
/*   
  .container{
    max-width: 1290px;
    padding-left: 60px;
    
  } */
  
  .hh{
    margin-left:13px;
  }
  
  .link1{
    margin-right:20px;
  }
  
  .link2{
    margin-left:20px;
  }